{% extends "base.html" %}

{% block title %}selectvariable_list.html {% endblock %}

{% block content %}
    <div id = "content">
        <h1>polls page</h1>
        <ul>
            {% for SelectVariable in SelectVariables %}
                <li><a href="{% url 'polls:detail' SelectVariable.id %}">{{ SelectVariable }}</a> </li>
            {% endfor %}
        </ul>
    </div>
    {{SelectVariables}}
    <div id = "employee">
        <h1><a href="{% url 'polls:employeelist' %}"> employee</a></h1>
    </div>
    {{Employees}}
    <div id = "employer">
        <h1><a href="{% url 'polls:employerlist' %}">employer </a></h1>
    </div>
{% endblock %}