<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Polls</title>
</head>
<body>
    <div id = "content">
        <h1>polls page</h1>
        <ul>
            {% for SelectVariable in object_list %}
                <li><a href="{% url 'polls:detail' SelectVariable.id %}">{{ SelectVariable }}</a> </li>
            {% endfor %}
        </ul>
    </div>
    <div id = "employee">
        <h1>employee</h1>
    </div>
    <div id = "employer">
        <h1>employer</h1>
    </div>
</body>
</html>