{% extends "base.html" %}

{% block title %}selectvariable_detail.html {% endblock %}

{% block content %}
    <div id="content">
        <h1>{{object.title}}</h1>
        <ul>
            <li>id : {{ object.id }} </li>
            <li>co_id : {{ object.co_id }}</li>
            <li>compassion : {{ object.compassion }} </li>
            <li>surface_acting : {{object.surface_acting}}</li>
            <li>deep_acting : {{object.deep_acting}}</li>
            <li>affective_commitment : {{object.affective_commitment}}</li>
            <li>task_complexity : {{object.task_complexity}}</li>

        </ul>
    </div>
{% endblock %}