{% extends 'base.html' %}

{% load static %}

{% block title %} home.html {% endblock %}

{% block extra-style %}
<style type="text/css">
    .home-image{

    }
    .title{
        color:#c80;
        font-weight:bold;
    }
    .powered{
        position:relative;
        top:77%;
        color: #cc0;
        font-style:italic;
    }

</style>
{% endblock %}

{% block content %}
<div class="home-image">
    <h2 class="title">핵심인재연구소</h2>
    <h4 class="powered"><i class="fas fa-arrow-circle-right"></i>powered by django and bootstrap </h4>
</div>

<hr style="margin:10px 0;">

<div class="row text-center">
    <div class="col-sm-6">
        <a class="organization check" href="{% url 'polls:polls_home' %}"><h3>인사조직수준진단</h3></a>
        <p>인사조직 수준진단이란? 나도 모르게쏘요....</p>

    </div>
    <div class="col-sm-6">
        <h3>Workforce Analytics</h3>
        <p>난 아는게 없어요...</p>
    </div>
    <div class="col-sm-6">
        <h3>Polls App</h3>
        <p>Polls is a uniform resource identifier (URI)</p>
    </div>
</div>
{% endblock content %}

{% block footer %}
<footer class="fixed-bottom bg-info">
    <div class="text-white font-italic text-right mr-5">Copyright 2020. Kwon ki wook. All rights reserved</div>
</footer>
{% endblock %}